.landing-page {
  background-image: url('../../assets/landing_page_2.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  color: #fff;
  padding-top: 50px;
}

.landing-page h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.landing-page p {
  font-size: 1.5rem;
}

.description {
  background-color: rgb(100, 78, 46);
  width: 70%;
  height: 140px;
  opacity: 0.8;
  margin-left: 50px;
}

.description p {
  margin: 16px;

  z-index: 9;
  font-family: "EB Garamond";
  font-style: italic;
  height: auto;
  color: rgb(245, 241, 239);
  text-decoration: none;
  white-space: normal;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  text-align: center;
  line-height: 52px;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 30px;
  transform-origin: 50% 50%;
  transform: translate(1px, 0px);
  visibility: visible;
}

.square-button {
  width: 150px;
  height: 70px;
  border-color: rgb(255, 255, 255);
  border-radius: 2px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
  transition: background-color 0.3s ease;
  font-weight: 500;
  margin-top: 15px;
  margin-left: 80px;
  padding-top: 10px;
  font-family: Poppins,sans-serif;
  font-size: 14px;
}

.square-button:hover {
  background-color: #693419;
}
