<div class="landing-page about-landing">
  <div class="description animateDescription">
    <p>
      "Crafting inspiring interiors with passion, precision, and over 20 years of expertise."
    </p>
  </div>
</div>

<div class="about-content-row">
  <div class="about-content-text">
   <p> About <h1><strong>WOODMIND INTERIORS</strong></h1>
    <p>
      With over <strong>20 years of experience</strong> in the field, we specialize in <strong>complete wood furniture and interior design solutions</strong> for both <strong>entire buildings</strong> and <strong>individual flats</strong> across <strong>Bangalore</strong>.
    </p>
    <p>
      Whether you're furnishing a new home or renovating your existing space, we provide end-to-end services tailored to your needs. Our expert team of <strong>10–15 skilled professionals</strong> ensures top-quality workmanship and attention to detail in every project.
    </p>
    <h2>Our Service Models</h2>
    <ul>
      <li>
        <strong>Labour Contract:</strong> You provide the materials, we handle the design and execution.
      </li>
      <li>
        <strong>Material Contract (Material + Labour):</strong> We source materials through our trusted dealer network—ensuring better pricing and quality—while also taking care of the complete implementation.
      </li>
    </ul>
    <p>
      Choose designs from our wide collection of designs or bring your custom ideas—we'll bring them to life.
      We are proud to be a <strong>local, reliable interior and woodwork partner</strong> trusted by hundreds of customers over the past two decades.
    </p>
  </div>
  <div class="about-content-image">
    <img src="../../assets/about/aboutSideImageNew.png" alt="Interior Design" />
  </div>
</div>