<!-- <div class="parentLogo">
  <img src="../../assets/woodcraft-interiors-logo.png" class="logo" alt="">
</div> -->

<div class="menu" id="scrollDiv">
  <nav>
    <ul>
      <li class="logo"><img src="../../assets/woodcraft-interiors-logo.png" class="logo" alt=""></li>
      <li class="menuOptions"><a routerLink="/">Home</a></li>
      <li class="menuOptions"><a routerLink="/(contentOutlet:about)">About</a></li>
      <li class="menuOptions"><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
</div>
