<div id="homePage" class="landing-page">
    <div class="description animateDescription">
        <p>"Bring comfort and beauty into your living room with wooden designs that never go out of style."
        </p>
  </div>
</div>
<div class="living-room-gallery">
    <h1>Living Room Collection</h1>
    <div class="gallery">
      <div class="gallery-item">
        <img src="../../../assets/Living-Room-Images/Living-room-1.jpg" alt="Living Room Image 1">
      </div>
      <div class="gallery-item">
        <img src="../../../assets/Living-Room-Images/Living-room-2.jpg" alt="Living Room Image 2">
      </div>
      <div class="gallery-item">
        <img src="../../../assets/Living-Room-Images/Living-room-3.jpg" alt="Living Room Image 3">
      </div>
      <div class="gallery-item">
        <img src="../../../assets/Living-Room-Images/Living-room-4.jpg" alt="Living Room Image 4">
      </div>
      <div class="gallery-item">
        <img src="../../../assets/Living-Room-Images/Living-room-5.jpg" alt="Living Room Image 5">
      </div>
      <div class="gallery-item">
        <img src="../../../assets/Living-Room-Images/Living-room-6.jpg" alt="Living Room Image 6">
      </div>
    </div>
  </div>

