<div id="homePage" class="landing-page">
    <div class="description animateDescription">
        <p>"Transform your kitchen into a masterpiece with our custom-crafted wooden designs."</p>
    </div>
</div>
<div class="kitchen-gallery">
    <h1>Kitchen Collection</h1>
    <div class="gallery">
      <div class="gallery-item">
        <img src="../../../assets/Kitchen-Images/kitchen-1.jpg" alt="Kitchen Image 1">
      </div>
      <div class="gallery-item">
        <img src="../../../assets/Kitchen-Images/kitchen-2.jpg" alt="Kitchen Image 2">
      </div>
      <div class="gallery-item">
        <img src="../../../assets/Kitchen-Images/kitchen-3.jpg" alt="Kitchen Image 3">
      </div>
      <div class="gallery-item">
        <img src="../../../assets/Kitchen-Images/kitchen-4.jpg" alt="Kitchen Image 4">
      </div>
      <div class="gallery-item">
        <img src="../../../assets/Kitchen-Images/kitchen-5.jpg" alt="Kitchen Image 5">
      </div>
      <div class="gallery-item">
        <img src="../../../assets/Kitchen-Images/kitchen-6.jpg" alt="Kitchen Image 6">
      </div>
    </div>
</div>